<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Shopping Cart</h3>
    </div>
    <div class="panel-body">
      <%= render 'carts/cart', layout: false %>
    </div>
  </div>
</div>
