<div class="container">
  <% if @item.errors.any? %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h3>
    </div>
    <div class="panel-body">
      <%= @item.errors.full_messages.join(", ") %>
    </div>
  </div>
  <% end %>
  <legend>Edit item</legend>
  <%= render 'items/form' %>
</div>